*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html{
    background-color: black;
    font-size: 62.5%;
}

@font-face {
    font-family: Funtasia;
    src: url("/assets/media/fonts/Funtasia.otf");
}

/*

*/

.window{
    user-select: none;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
}


.screen{
    width: 100vw;
    height: 64.48vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
    background-color: yellow;
    /* background-image: url("/assets/media/img/bgStart.png");  */
    background-size: 100%;
}

.final{
    width: 100vw;
    height: 64.48vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
    background-color: yellow;
    /* background-image: url("/assets/media/img/bgSky.png");  */
    background-size: 100% 100%;
    position: absolute;
    z-index: -1;
    overflow: hidden;
}

.start{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
    background-size: 100% 100%;
}

.menu{
    width: 100vw;
    height: 64.48vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
    position: absolute;
    background-color: orange;
    background-image: url("/assets/media/img/bg.png");
    background-size: 100% 100%;
    z-index: 0;
    overflow: hidden;
}

.title{
    width: 66%;
    height: 25%;
    position:absolute;
    animation-name: start;
    animation-duration: 2s;
}

.title img{
    width: 100%;
    height: 100%;
}

.menuwindow{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10%;
    width: 80%;
    height: 60%;
}

.ico{
    width: 19%;
    height: 39%;
    margin-left: 3%;
    margin-right: 3%;
}

.ico p{
    width: 100%;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    font-size: 2vw;
    font-weight: bold;
}

.g{
    border-radius: 100%; 
    border: 0.8vw white solid;
    width: 100%;
    height: 100%;
}

.viewgirl{
    background-color: pink;
    /* background-image: url("/assets/media/img/peachG.png");  */
    background-size: 400% 100%;
    border: 1.2vw #BB3E7F solid;
    width: 44%;
    height: 68%;
    background-position-x: 0%;
}

.viewhand{
    background-color: white;
    /* background-image: url("/assets/media/img/peachH.png");  */
    background-size: 400% 100%;
    border: 1.2vw #BB3E7F solid;
    width: 44%;
    height: 68%;
    background-position-x: 0%;
}

.girlfalling{
    width: 80%;
    height: 80%;
    top: 100%;
    position: absolute;
    /* background-image: url("/assets/media/img/girlfalling.png");  */
    background-size: 100%;
}

.loading{
    font-family: Funtasia, Arial, Helvetica, sans-serif;
    font-size:3vw;
    width: 100vw;
    height: 64.48vw;
    position: absolute;
    z-index: 0;
    background-color: black;
       display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    flex-direction: column;
}

.loadtxt, #loadpoint{
    color: white;
    text-align: center;
    font-size: 250%;
}

#loadpoint{
    height: 10%;
}


@media screen and (min-width: 155vh) {

    .screen, .final, .menu, .loading{
        width: 155vh;
        height: 100vh;
    }

    .loading{
        font-size:5vh;
    }

    .viewgirl ,.viewhand{
        border: 1.8vh #BB3E7F solid;
    }

    .g{
        border-radius: 100%; 
        border: 1.3vh white solid;
        width: 100%;
        height: 100%;
    }

    .ico p{
        width: 100%;
        text-align: center;
        font-family:Arial, Helvetica, sans-serif;
        color: white;
        font-size: 3vh;
        font-weight: bold;
    }
}